@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

body {
  min-width: 1160px;
  background-color: #eeeeee;
  font-size: 14px;
  line-height: 18px;
  font-family: 'Roboto', sans-serif;
  color: #000000; }

.container {
  border: 1px solid red;
  width: 950px;
  margin: 0 auto; }

.header {
  padding: 40px 0 40px 0;
  background-image: url("../img/Группа 3.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover; }
  .header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header .header-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .header .header-left h1 {
      font-size: 48px;
      line-height: 48px;
      font-weight: 300; }
    .header .header-left .contacts-list {
      font-size: 12px;
      font-weight: bold;
      line-height: 25px; }
      .header .header-left .contacts-list a {
        color: black; }
      .header .header-left .contacts-list li:last-child a {
        text-decoration: underline; }

.main-content {
  padding: 40px 0 50px 0;
  background-color: #eeeeee; }
  .main-content .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .main-content .comment-list {
    border-bottom: 1px solid #d4d4d4; }
    .main-content .comment-list .user-comment p:nth-child(1) {
      font-size: 16px;
      line-height: 18px;
      font-weight: bold; }
    .main-content .comment-list .user-comment span {
      display: inline-block;
      margin: 0 0 0 20px;
      font-size: 11px;
      line-height: 18px;
      font-weight: 300; }
    .main-content .comment-list .user-comment p:nth-child(2) {
      margin: 18px 0 25px 0;
      font-size: 14px;
      line-height: 18px;
      font-weight: 300; }
  .main-content .comment-form {
    margin: 25px 0 0 0; }
    .main-content .comment-form h2 {
      font-size: 24px;
      font-weight: 400;
      line-height: 32px; }
    .main-content .comment-form .form {
      width: 460px; }
      .main-content .comment-form .form label {
        font-size: 14px;
        font-weight: 300px;
        line-height: 18px; }
      .main-content .comment-form .form input {
        width: 100%;
        height: 45px;
        border-radius: 5px;
        margin: 10px  0 20px 0; }
      .main-content .comment-form .form textarea {
        width: 100%;
        border: 2px solid black;
        border-radius: 5px;
        margin: 10px  0 0px 0;
        background-color: #eeeeee; }
      .main-content .comment-form .form button {
        display: block;
        font-size: 18px;
        font-weight: 300px;
        border: 2px solid black;
        border-radius: 5px;
        width: 134px;
        height: 44px;
        margin: 10px 0 0 auto;
        background-color: #eeeeee; }

.footer {
  padding: 20px 0 20px 0;
  background-color: #ffffff; }
