body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #404040;
    background-color: white;
}


.container {
    width: 950px;
    margin: 0 auto;
    border: 1px solid red;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-content {
    background-color: #eeeeee;
}

.header {
    padding: 40px 0 25px 0;
}

.header-left {
    border: 1px solid green;
    float: left;
}

.header-left h1 {
    border: 1px solid blue;
    font-size: 48px;
    font-weight: 300;
    line-height: 48px;
}

.contacts-list a{
    text-decoration: none;
    color: black;
}

.logo {
    float: right;
    width: 163px;
    height: 172px;
    border: 1px solid green;
}